{
    "BOT_ADMINS": {{ BOT_ADMINS | to_nice_json}},
    "BOT_TOKEN": "{{ BOT_TOKEN }}",
    "HAMONITOR": {
        "HOSTS": {{ BOT_HOSTS | to_nice_json }},
        "DEFAULT_INTERVAL": {{ DEFAULT_INTERVAL }},
        "DEFAULT_DELAY": {{ DEFAULT_DELAY }}
    },
    "BOT_EXTRA_PLUGIN_DIR": "/opt/hamonitor/plugins"
}